@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Josefin+Sans&family=Lato&family=Metal+Mania&display=swap');


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav ul {
  font-size: 20px; }

h1,
h2,
h3,
li {
  font-family: "Josefin Sans", sans-serif; }

  p {
    font-family: "Lato", sans-serif; }

  .flag {
    display: block;
    max-width: 100%;
    height: 2rem; }

.title {
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  color: lightblue;
  text-shadow: 2px 2px darkgray;
  opacity: 1; 
}

.subtitle {
  position: absolute;
  left: 0;
  top: 58%;
  width: 100%;
  text-align: center;
  color: lightblue; }

  .scroll {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .scroll span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid lightblue;
    border-right: 1px solid lightblue;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite; }
  
  .scroll span:nth-child(2) {
    animation-delay: -0.2s; }
  
  .scroll span:nth-child(3) {
    animation-delay: -0.4s; }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px); }
    50% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px); } }


      /* My borders showing different div  
.col, div[class^="col-"], label[class^="col-"] {
    border: 1px solid red;
    margin: 2px; 
    
} 

.row {
    border: 3px solid blue;
    padding: 2px;
    margin: 5px;
}

.container {
    border: 3px solid green;
    padding: 2px;
    margin: 5px;    
}

.media {
    border: 3px solid yellow;
    padding: 2px;
    margin: 5px;       
}  

.card {
    border: 3px solid purple;
    padding: 2px;
    margin: 5px;    
} */